:root {
    --white: hsl(0, 0%, 100%);
    --pink: hsl(350, 100%, 88%);
    --fuscha: hsl(327, 100%, 68%);
    --grey: hsl(213, 27%, 84%);
    --sky: hsl(216, 57%, 85%);
    --blue: hsl(221, 24%, 49%);
    --dark: hsl(233, 23%, 30%);
    --black: hsl(0, 0%, 0%);
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--sky);
    font-family: "Segoe UI";
}




