.prod__container {
    padding: 2rem 1rem;
}

.prod__info {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.prod__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(
        auto-fill,
        minmax(250px, 1fr)
    );
}

.prod__card {
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    padding: 0.7rem;
}

.prod__card:hover {
    transform: translateY(-4px);
}

.prod__link {
    display: block;
    text-decoration: none;
}

.prod__img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.prod__cont {
    padding: 1rem;
}

.prod__desc {
    padding-bottom: 1rem;
}

.prod__title {
    text-decoration: none;
    color: var(--black);
}

.prod__title:hover {
    color: var(--blue);
}

.prod__foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod__price {
    font-size: 1.25rem;
    font-weight: bold;
}

.prod__btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--blue);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.prod__btn:hover {
    background-color: var(--dark);
}






